@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-ash-50 text-ash-900;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
